@tailwind base;
@tailwind components;
@tailwind utilities;

 /* styles.css */
.lightning-bg {
    background: linear-gradient(90deg, #1a373b, #000000);
    background-size: 200% 200%;
    animation: lightning 18s linear infinite;
  }
  
  @keyframes lightning {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  